body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #444;
    font-size: 14px;
}

header, .navbar {
    background-color: #000000;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    margin-left: 10px;
    width: 75px;
}

.navbar-brand {
    letter-spacing: 3px;
    font-size: 26px;
    font-family: 'Jersey 25', sans-serif;
    padding: 0;
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #474747;
}

#navbar-links a {
    color: #ffffff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.container-fluid {
    padding: 0;
}

.nav-item:hover {
    font-weight: bold;
    box-shadow: 0 0 20px rgb(65, 65, 65); 
}

#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-family: 'Courier New';
    font-size: 50px;
    margin-bottom: 30px;
}

#mainSlider .carousel-caption p {
    font-family: 'Courier New';
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
}

.main-btn {
    font-family: 'Courier New';
    background-color: transparent;
    text-decoration: none; 
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: .5s;
}

.main-btn:hover {
    text-decoration: none;
    background-color: transparent;
}

.carousel-indicators .active {
    background-color: #65DAF9;
}

.active {
    font-weight: bold;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
  }

#cosmetic1 {
    color: #15343a;
}

#cosmetic1 p {
    color: #15343a;
}

#cosmetic1 .main-btn {
    background-color: transparent;
    color: #15343a;
    border: 1px solid #15343a;
}

#cosmetic1 .main-btn:hover {
    background-color: #15343a;
    color: #fff;
    border: 1px solid #15343a;
}

#cosmetic2 {
    color: #5a4a1f;
}

#cosmetic2 p {
    color: #5a4a1f;
}

#cosmetic2 .main-btn {
    background-color: transparent;
    color: #5a4a1f;
    border: 1px solid #5a4a1f;
}

#cosmetic2 .main-btn:hover {
    background-color: #5a4a1f;
    color: #fff;
    border: 1px solid #5a4a1f;
}

#cosmetic3 {
    color: #9b637b;
}

#cosmetic3 p {
    color: #9b637b;
}

#cosmetic3 .main-btn {
    background-color: transparent;
    color: #9b637b;
    border: 1px solid #9b637b;
}

#cosmetic3 .main-btn:hover {
    background-color: #9b637b;
    color: #fff;
    border: 1px solid #9b637b;
}

.bold {
    font-weight: bold;
}

#main-text {
    font-family: 'Courier New';
    text-align: center;
}


.preco {
    text-align: end;
}

#textCard {
    padding-bottom: 30px;
    border-bottom: 1px solid #000000;
}

.cardPrice {
    padding-top: 10px;
    border-top: 1px solid #000000;
}

.linethrougth {
    text-decoration: line-through;
}

#ver-mais {
    bottom: -20px;
    left: 0;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    transition: all 0.2s ease-in-out;
}

.card:hover #ver-mais {
    bottom: 0;
    left: 0;
    background-color: #000000;
    border-color: #000000;
    color: #fff;
}

.card input {
    display: none;
}

.card:hover {
    background-image: linear-gradient(to bottom, white 80%, rgb(0, 0, 0));
    box-shadow: 0 0 25px rgb(105, 105, 105);
}

.navbar-nav .active {
    border-bottom: 1px solid #fff;
    box-shadow: 0 0 20px rgb(65, 65, 65); 
}

#footerContainer {
    margin-top: 20px;
    background-color: #000000;
}

.footerUp {
    border-bottom: 1px solid #444;
}

#footerIcon {
    color: #ffffff;
    border: none;
}

.bi-instagram {
    color: #fff;
}

.bi-whatsapp {
    color: #fff;
}

.bi-tiktok {
    color: #fff;
}
